<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

<div>
    <h3>Snippets</h3>
    {{#if snippets }}
        <ul>
            {{#each snippets}}
                <!--For each snippet in the array -->
                <li> <b>{{this.title}}</b> created/updated by <b>{{this.createdBy}}</b> at <b>{{this.updatedAt}}</b> <br>
                    <pre class="prettyprint">{{code}}</pre> <br></li>
            {{/each}}
        </ul>
    {{else}}
        <!--If the snippets array is empty -->
        There are no snippets to show.
    {{/if}}
</div>

